
.everything
{
    font-family: 'Cutive Mono', monospace;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
background: rgb(197,222,234); /* Old browsers */
background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */

    
    
}
.header
{
    text-align: center;
    
}
.nav
{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    text-align: center;

}
.liNav
{
    text-decoration: none;
   padding-left: 30px;
    padding-right: 30px;
text-align: center;

}
.navA
{
    text-decoration: none;
    width: 25%;
 text-align: center;
}
#h3Home
{
   display: flex;
    flex-direction: column;
    float: right;
    width: 68%;
    
}
#home
{
    background-color:lightcoral;
    
}
#imgME
{

  
    
}
#imgSpr
{
 float: left;
    
    
}

#h4home
{
    
    float: right;
    width: 68%
    
}


.liNav:hover
{
    background-color: coral;






}

.keepo
{
    clear: both;
    
    
}

.footer
{

    text-align: center;
background-color: black;
    color: white;
    height: 20px;
margin-bottom: none;
    padding-bottom: none;
    
    
    
    
    
    
}

#bodyHelp
{
    background-color: black;
    color: white;
    
}











